@import '../../../styles/theme';

:host {
  display: block;
}

.ticket-table {
  width: 100%;
}

.desktop-view {
  display: block;
}

.mobile-view {
  display: none;
  gap: 1rem;
}

@media (max-width: map-get($breakpoints, mobile)) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: flex;
    flex-direction: column;
  }
}
